*{
    margin: 0;
    padding: 0;

}

.container{
    background-image: url(../img/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;

}

.section{
    text-align: center;
    padding: 20px;
}
.section p{
    text-align: justify;
    padding: 30px;
}